/Seleccion.class
/SeleccionRuleta.class
/SeleccionTorneoDeterminista.class
/SeleccionTorneoProbabilistico.class
/SeleccionEstocasticoUniversal.class
/SeleccionTruncamiento.class
/SeleccionRestos.class
